/*general Stylings*/
body {
    background-color: lightgray;
}
ol ,ul {
    list-style: none;
}
li {
    margin-bottom: 5px;
}
button {
    background-color: rgba(137, 43, 226, 0.589);
}
/*container stylings*/
.dynamic-box {

    background-color: #eee;
    
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 90px;
    margin-left:10px;
}
.box-content {
    margin-left: 20px;
}
