/*score html styles*/
/*makes navbar size consitent accross both scenes*/
.navbar {
    padding-top: 28px;
    padding-bottom: 28px;
}
li { 

   background-color:  lightgreen;
    
   margin-right: 300px;
   padding-left: 10px; 
}