/*general Stylings*/
ol ,ul {
    list-style: none;
}
/*container stylings*/
.dynamic-box {

    background-color: #eee;
    
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 90px;
    margin-left:10px;
}
.box-content {
    margin-left: 20px;
}
/*score html styles*/
/*makes navbar size consitent accross both scenes*/
#score-bar {
    padding-top: 28px;
    padding-bottom: 28px;
}